{{#> layout}}
<div class="content-container">
	<div class="head-line secondary-text-color">
		<h1>{{error.status}} {{message}}</h1>
	</div>
	<div class="subheader primary-text-color">
		Oops, the page you're <br>
		looking for does not exist.<br>
	</div>
	<hr>
	<div class="clearfix"></div>
	<div class="context primary-text-color">
		<!-- doesn't use context_content because it's ALWAYS the same thing -->
    <p>
        You may want to head back to the homepage.<br />
        If you think something is broken, report a problem.
    </p>
	</div>
	<div class="buttons-container">
		<button type="button" class="btn btn-outline-info">
            <a class="border-button" href="/" target="_self">Go To Homepage</a>
        </button>
		<button type="button" class="btn btn-outline-secondary">
            <a class="border-button" href="mailto:a33067@alunos.isel.ipl.pt,a36929@alunos.isel.ipl.pt" target="_blank">Report A Problem</a>
        </button>
	</div>
</div>
{{/layout}}

