<div id="movieCommentsResponse">
    <div class="commenterImage">
        <h6>Response post by: {{user.username}}</h6>
    </div>
    <div class="commentText">
        <p>{{comment}}</p>
    </div>
</div>