<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="authors: Joana Nascimento Nº33067, Jorge Oliveira Nº36929" content="">
        <link rel="icon" href="/images/favicon.ico">

        <title>TMDb Project</title>

        <!-- Bootstrap core CSS -->
        <link href="/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/signIn.css" rel="stylesheet">
        <link href="/css/cssStyles.css" rel="stylesheet">
        <link href="/css/commentsCss.css" rel="stylesheet">
    </head>

<body>        
    <nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
        {{#if user}}
            <a class="nav-link " href="/logout">LogOut</a>
            <a class="nav-link" href="/favourites">Favourites</a>
            <a class="nav-link" href="/userHomePage">User Page</a>
            <a class="nav-link" href="/">Home</a>
        {{else}}
            <a class="nav-link" href="/signIn">Sign In</a>
            <a class="nav-link" href="/register">Sign Up</a>
            <a class="nav-link" href="/">Home</a>
        {{/if}}
    </nav>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container ">
                {{> @partial-block}}
            </div>
        </div>
    </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plug ins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/javascript/index.js"></script>
        <script src="/javascript/ajaxfuncs.js"></script>
    </body>
</html>